<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Vista is a e-hailing service platform connecting service providers with available jobs"
    />
    
    {% load static %}
    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'css/splashscreen.css' %}">  
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sp_list.css' %}">  
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
     <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- JS FILES -->
    
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/api_ajax.js' %}"></script>

    
    <title>Vista</title>
</head>
<body>      
    {% block body%}
    
    {% endblock %}
    <div id="spinner"></div> 
    {% block javascript%}
    <script>
      function myChangeFunction(unit) {
        let serv = document.getElementById('service_list').value;
        let amout =  serv.split('- N')[1];
        let specific_amount = document.getElementById('specific_amount');
        let edit_balanceCheck = document.getElementById("edit_balance").value;
        specific_amount.value = unit * amout;
        let mode = document.getElementById("payment_mode").value
        if (specific_amount.value !== "" || null){
          
          
          if(edit_balanceCheck < specific_amount.value && mode ==="wallet"){
            document.getElementById("bal_text").innerHTML = "Sorry! you have insufficient balance. Kindly top up your wallet balance or pick cash payment option";
            document.getElementById("request_submit_button").disabled = true;
            document.getElementById('text_amount_total').style.display = "block"
            document.getElementById('specific_amount').style.display = "block"
          }
          else if(edit_balanceCheck < specific_amount.value && mode !=="wallet"){
            document.getElementById("bal_text").innerHTML = "";
            document.getElementById("request_submit_button").disabled = false;
            document.getElementById('text_amount_total').style.display = "block"
            document.getElementById('specific_amount').style.display = "block"
          }
          else{
            // document.getElementById('text_amount_total').style.display = "block"
            // document.getElementById('specific_amount').style.display = "block"
          }
        }
      }
      $(function () {
        $("#service_form").change(function() {
          let val = $(this).val();
          if(val === "build") {
            $("#service_form").hide();
            $("#fix").hide();
            $("#build").show();
            $("#formo").show();
          }
          else if(val === "fix") {
              $("#fix").show();
              $("#service_form").hide();
              $("#build").hide();
              $("#formo").show();
              $("#service_list_text").show();
            $("#service_list").show();
              $("#des_text").hide();
              $("#description").hide();
          }
        });
      });
      $(function () {
        $("#role").change(function() {
          let val = $(this).val();
          if(val === "service_provider") {
              $("#sp_jobs").show();
          }
          else if(val === "client") {
              $("#sp_jobs").hide();
          }
        });
      });
    </script>
    {% endblock %}
    <input id="edit_balance" value="{{data.user_details.balance|floatformat:2}}" hidden/>
    <input id="edit_phone" value="{{data.user_details.phonenumber}}" hidden/>
    <input id="edit_email" value="{{data.user_details.email}}" hidden/>

    <!-- Edit Bio Modal -->
<div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
          <div style="display: flex; flex-direction: row;"><i class="fas fa-chevron-left close" data-dismiss="modal"></i><p class="text-center mb-5" style="width: 100%;">Edit Profile</p></div>
          <div class="text-primary server_message_success py-1 text-center" id="edit_bio_success" role="alert"></div>
          <div class="text-danger server_message_error py-1 text-center" id="edit_bio_error" role="alert"></div>

          <form class="onboarding_form mt-2"   method="POST" autocomplete="off">
              {% csrf_token %}
                  <input type="text" id="edit_address" name="email"  class="onboarding_form_input form-control mb-3" value="{{data.user_details.address}}">
                  <select id="edit_state" class="onboarding_form_input form-control mb-5">
                      <option value="{{data.user_details.state}}" selected>{{data.user_details.state}}</option>
                      <option value="Abia">Abia</option>
                      <option value="Adamawa">Adamawa</option>
                      <option value="Akwa Ibom">Akwa Ibom</option>
                      <option value="Anambra">Anambra</option>
                      <option value="Bauchi">Bauchi</option>
                      <option value="Bayelsa">Bayelsa</option>
                      <option value="Benue">Benue</option>
                      <option value="Borno">Borno</option>
                      <option value="Cross Rive">Cross River</option>
                      <option value="Delta">Delta</option>
                      <option value="Ebonyi">Ebonyi</option>
                      <option value="Edo">Edo</option>
                      <option value="Ekiti">Ekiti</option>
                      <option value="Enugu">Enugu</option>
                      <option value="FCT">Federal Capital Territory</option>
                      <option value="Gombe">Gombe</option>
                      <option value="Imo">Imo</option>
                      <option value="Jigawa">Jigawa</option>
                      <option value="Kaduna">Kaduna</option>
                      <option value="Kano">Kano</option>
                      <option value="Katsina">Katsina</option>
                      <option value="Kebbi">Kebbi</option>
                      <option value="Kogi">Kogi</option>
                      <option value="Kwara">Kwara</option>
                      <option value="Lagos">Lagos</option>
                      <option value="Nasarawa">Nasarawa</option>
                      <option value="Niger">Niger</option>
                      <option value="Ogun">Ogun</option>
                      <option value="Ondo">Ondo</option>
                      <option value="Osun">Osun</option>
                      <option value="Oyo">Oyo</option>
                      <option value="Plateau">Plateau</option>
                      <option value="Rivers">Rivers</option>
                      <option value="Sokoto">Sokoto</option>
                      <option value="Taraba">Taraba</option>
                      <option value="Yobe">Yobe</option>
                      <option value="Zamfara">Zamfara</option>
                  </select>
                  <input type="submit" value="Update" class="form-control onboarding-button mt-5" id="update_bio_submit_button">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Account Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
          <div style="display: flex; flex-direction: row;"><i class="fas fa-chevron-left close" data-dismiss="modal"></i><p class="text-center mb-5" style="width: 100%;">Edit/Add Account Details</p></div>
          <div class="text-primary server_message_success py-1 text-center" id="edit_acc_success" role="alert"></div>
          <div class="text-danger server_message_error py-1 text-center" id="edit_acc_error" role="alert"></div>
          <form class="onboarding_form mt-2"   method="POST" autocomplete="off">
              {% csrf_token %}
                  <input type="text" id="edit_acc_name"  class="onboarding_form_input form-control mb-3" value="{{data.user_details.accountname}}">
                  <input type="text" id="edit_acc_no"  class="onboarding_form_input form-control mb-3" value="{{data.user_details.accountno}}">
                  <select class="onboarding_form_input form-control mb-3" id="edit_bank">
                      <option value="{{data.user_details.bank}}" selected>{{data.user_details.bank}}</option>
                      <option value="Access Bank">Access Bank</option>
                      <option value="Citibank">Citibank</option>
                      <option value="Access (Diamond)">Access (Diamond)</option>
                      <option value="Ecobank">Ecobank</option>
                      <option value="Fidelity Bank">Fidelity Bank</option>
                      <option value="First Bank">First Bank</option>
                      <option value="FCMB">First City Monument Bank (FCMB)</option>
                      <option value="GTB">Guaranty Trust Bank (GTB)</option>
                      <option value="Heritage Bank">Heritage Bank</option>
                      <option value="Jaiz Bank">Jaiz Bank</option>
                      <option value="Keystone Bank">Keystone Bank</option>
                      <option value="Kuda Bank">Kuda Bank</option>
                      <option value="Polaris Bank">Polaris Bank</option>
                      <option value="Providus Bank">Providus Bank</option>
                      <option value="Stanbic IBTC Bank">Stanbic IBTC Bank</option>
                      <option value="Standard Chartered Bank">Standard Chartered Bank</option>
                      <option value="Sterling Bank">Sterling Bank</option>
                      <option value="Union Bank">Union Bank</option>
                      <option value="UBA">United Bank for Africa (UBA)</option>
                      <option value="Unity Bank">Unity Bank</option>
                      <option value="Wema Bank">Wema Bank</option>
                      <option value="Zenith Bank">Zenith Bank</option>
                  </select>
                  <input type="submit" value="Update Account" class="form-control onboarding-button mt-5" id="update_acc_submit_button">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
          <div style="display: flex; flex-direction: row;"><i class="fas fa-chevron-left close" data-dismiss="modal"></i><p class="text-center mb-5" style="width: 100%;">Change Password</p></div>
          <div class="text-primary server_message_success py-1 text-center" id="edit_pass_success" role="alert"></div>
          <div class="text-danger server_message_error py-1 text-center" id="edit_pass_error" role="alert"></div>
          <form class="onboarding_form mt-2"   method="POST" autocomplete="off">
              {% csrf_token %}
              <input type="password" id="edit_old_password"  class="onboarding_form_input form-control mb-3" placeholder="Old Password">
              <input type="password" id="edit_new_password"  class="onboarding_form_input form-control mb-3" placeholder="New Password">
              <input type="password" id="edit_confirm_new_password"  class="onboarding_form_input form-control mb-3" placeholder="Confirm New Password">
              <input type="submit" value="Update" class="form-control onboarding-button mt-5" id="update_pass_submit_button">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Withdraw Modal -->
<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
          <div style="display: flex; flex-direction: row;"><i class="fas fa-chevron-left close" data-dismiss="modal"></i><p class="text-center mb-5" style="width: 100%;">Withdraw Fund</p></div>
          
          <div id="verification_div2" style="display:none; width:100%; height:80vh; background-color: #fff; position:fixed; top:10vh; left:0" class="pt-4"> 
            <div id="success_div2" style="text-align: center; display:none; padding: 30% 10%;">
              <i class="fas fa-check-circle  fa-5x" style="color: #4B1378;" ></i>
              <p style="font-size: 1.1rem;">Your Payment is on the way.</p>
            </div>
            <div id="failure_div2" style="text-align: center; display:none; padding: 30% 10%;">
              <i class="fas fa-times-circle  fa-5x" style="color: #C91B30;" ></i>
              <p style="font-size: 1.1rem;" id="error_p"></p>
              <!-- <p style="font-size: 1.1rem;"> You will be redirected to your wallet within seconds</p> -->
            </div>
          </div>

          <div class="text-danger server_message_error py-1 text-center" id="edit_withdraw_error" role="alert"></div>
          <form class="onboarding_form mt-2"   method="POST" autocomplete="off">
              {% csrf_token %}
              <input type="text" id="withdraw_amount"  class="onboarding_form_input form-control mb-3" placeholder="Enter Amount eg. 10000">
              {% if data.user_details.role == '1' %}
              <input class="onboarding_form_input form-control mb-3" style="background-color: #C91B3010;" type="text" id="withdraw_accountname_filled" value="{{data.user_details.accountname}}" hidden/>
                {% if data.user_details.bank != 'Bank' %}
                  <p class="mb-3">Kindly Confirm payment should be made to:</p>
                  <p style="margin:0" >Account Name</p>
                  <input class="onboarding_form_input form-control mb-3" style="background-color: #C91B3010;" type="text"  value="{{data.user_details.accountname}}" disabled/>
                  <p style="margin:0" >Account Number</p>
                  <input class="onboarding_form_input form-control mb-3" style="background-color: #C91B3010;"  type="text"  value="{{data.user_details.accountno}}" disabled/>
                  <p style="margin:0" >Bank</p>
                  <input class="onboarding_form_input form-control mb-3" style="background-color: #C91B3010;" type="text"  value="{{data.user_details.bank}}" disabled/>
                {% else %}
                <p class="mb-3">Kindly Enter account details payment should be made to:</p>
                
                  <input class="onboarding_form_input form-control mb-3" style="background-color: #1bc9b210;" type="text" id="withdraw_accountname" placeholder="Enter Account Name" />
                  <input class="onboarding_form_input form-control mb-3" style="background-color: #1bc9b210;" type="text" id="withdraw_accountno" placeholder="Enter Account Number"/>
                  <select class="onboarding_form_input form-control mb-3" id="withdraw_bank" style="background-color: #1bc9b210;">
                    <option value="" disabled selected>Select Bank </option>
                    <option value="Access Bank">Access Bank</option>
                    <option value="Citibank">Citibank</option>
                    <option value="Access (Diamond)">Access (Diamond)</option>
                    <option value="Ecobank">Ecobank</option>
                    <option value="Fidelity Bank">Fidelity Bank</option>
                    <option value="First Bank">First Bank</option>
                    <option value="FCMB">First City Monument Bank (FCMB)</option>
                    <option value="GTB">Guaranty Trust Bank (GTB)</option>
                    <option value="Heritage Bank">Heritage Bank</option>
                    <option value="Jaiz Bank">Jaiz Bank</option>
                    <option value="Keystone Bank">Keystone Bank</option>
                    <option value="Kuda Bank">Kuda Bank</option>
                    <option value="Polaris Bank">Polaris Bank</option>
                    <option value="Providus Bank">Providus Bank</option>
                    <option value="Stanbic IBTC Bank">Stanbic IBTC Bank</option>
                    <option value="Standard Chartered Bank">Standard Chartered Bank</option>
                    <option value="Sterling Bank">Sterling Bank</option>
                    <option value="Union Bank">Union Bank</option>
                    <option value="UBA">United Bank for Africa (UBA)</option>
                    <option value="Unity Bank">Unity Bank</option>
                    <option value="Wema Bank">Wema Bank</option>
                    <option value="Zenith Bank">Zenith Bank</option>
                </select>
                  <div class="input-group mb-3" id="saving">
                    <div class="input-group-prepend">
                      <div class="input-group-text1">
                        <input type="checkbox" id="save_bank_details">
                      </div>
                    </div>
                    <p class="ml-2" style="font-size: 0.8rem; padding-top:2px; width: 80%;">I want my account details saved</p>
                </div>
                {% endif %}
              {% else %}
              {% endif %}
              <input type="submit" value="Withdraw Now" class="form-control onboarding-button mt-5" id="withdraw_submit_button">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Fund Modal -->
<div class="modal fade" id="fundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
          <div style="display: flex; flex-direction: row;"><i class="fas fa-chevron-left close" data-dismiss="modal"></i><p class="text-center mb-5" style="width: 100%;">Fund Wallet</p></div>
          
          <div id="verification_div" style="display:none; width:100%; height:80vh; background-color: #fff; position:fixed; top:10vh; left:0" class="pt-4">
            <form style="padding:0 5vh;">{% csrf_token %}
            <!-- <input id="tt_id" value="{{user_id}}" hidden/> -->
            <input id="tt_amount" type="text" hidden/>
            <input type="button" value="click to Verify your Payment" class="form-control onboarding-button" id="verify_payment_button" style="margin-top: 30vh;">
            </form>   
            <div id="success_div" style="text-align: center; display:none; padding: 30% 10%;">
              <i class="fas fa-check-circle  fa-5x" style="color: #4B1378;" ></i>
              <p style="font-size: 1.1rem;">Payment Verified</p>
            </div>
            <div id="failure_div" style="text-align: center; display:none; padding: 30% 10%;">
              <i class="fas fa-times-circle  fa-5x" style="color: #C91B30;" ></i>
              <p style="font-size: 1.1rem;">Payment Unsuccessful. Kindly check your Bank balance and try again!</p>
            </div>
          </div>
          <p style="color:red; font-size:1.2rem;" id="amount_error"></p>
          <form class="onboarding_form mt-2"   method="POST" autocomplete="off">
              {% csrf_token %}
              <input type="text" id="fund_amount" oninput="getAmount(this)"  class="onboarding_form_input form-control mb-3" placeholder="Enter Amount eg. 10000">
              <script src="https://js.paystack.co/v1/inline.js"></script>
              <input type="button" value="Fund Now" class="form-control onboarding-button mt-5" id="fund_submit_button" onclick="payWithPaystack()">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Request Job Modal (Client) -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0; background-color: #fff;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
        <div id="request_final_div" style="display:none; width:100%; height:80vh; background-color: #fff; position:fixed; top:10vh; left:0" class="pt-4"> 
          <img src="{% static 'img/map_search.gif' %}" class="img-fluid" style="display: none;" id="map_search"/>
          <h3 style="display: none; text-align: center; margin-top:3rem;" id="map_search_h1">Searching</h3>
          <div id="r_success_div" style="text-align: center; display:none; padding: 50% 10%;">
            <!-- sp list -->
            <div class="cards" >
              <div class="outer">
                <div class="card" id="client_accept_sp_submiti_buttoni">
                  <div class="content">
                    <div class="img">
                      <i class="fas fa-user fa-3xap mt-3"></i>
                    </div>
                    <div class="details">
                      <span class="name" id="sp_name"></span>
                      <p id="sp_address"></p>
                      <p id="sp_phone" style="color:#dde0d3"></p>
                      <div id="fled">
                        <div class="rating_div" id="rating_divi">
                        </div>
                        <input id="sp_id" type="text" hidden/>
                        <input id="job_id" type="number" hidden/>
                        <a id="client_accept_sp_submit_button">Accept</a>
                      </div>
                    </div>
                  </div>
                  <!-- <input type="submit" value="Accept" class="form-control onboarding-button mt-3" id="client_accept_sp_submit_button"> -->
                </div>
              </div>
            </div>
            <!-- sp list ends -->
            
          </div>
          <div id="r_failure_div" style="text-align: center; display:none; padding: 30% 10%;">
            <i class="fas fa-times-circle  fa-5x" style="color: #C91B30;" ></i>
            <p style="font-size: 1.1rem;" id="r_message"></p>
          </div>
        </div>
        <div style="width:100%; text-align:left; padding: 0.2rem 0.4rem;" id="back_form"><i class="fas fa-chevron-left fa-2x" style="color:#464646;" ></i></div>
        <h5 class="text-center" id="request-header"> Service Request Form</h5>
          <div class="text-danger server_message_error py-1 text-center" id="request_error" role="alert"></div> 
          <form class="onboarding_form"   method="POST" autocomplete="off" style="background-color: #fff;">
              {% csrf_token %}
              <input type="text" id="service_type"  class="onboarding_form_input form-control mb-1" disabled hidden>
              <select id="service_form" class="onboarding_form_input form-control" style="border:0.1px solid #fff; width:100%; margin-top: 30vh;">
                <option value="" disabled selected>SELECT SERVICE TYPE</option>
                <option value="build" >Build/Install</option>
                <option value="fix">Fix</option>
              </select>
              <div id="formo" style="display: none;">
                <p id="bal_text" style="color:#C91B30; text-align: center;"></p>
                  <p class="text-purple" style="margin-bottom:-0.2rem;">Address</p>
                  <input id="address"  class="onboarding_form_input form-control mb-2" value="{{data.user_details.address}} {{data.user_details.state}}" style="height:auto"/>
                  <p class="text-purple" id="des_text" style="margin-bottom:-0.2rem;">Brief Description</p>
                  <textarea id="description"  class="onboarding_form_input form-control mb-2" placeholder="eg: Service Provider would require to use his professional tools such as Hammer, Saw etc" style="height:120px"></textarea>
                  <p class="text-purple" id="text_amount" style="margin-bottom:-0.2rem;">Service Charge/Unit</p>
                  <input type="text" value="NGN5,000.00" class="onboarding_form_input form-control mb-2" id="amount" disabled>
                  <p class="text-purple" id="service_list_text" style="display:none; margin-bottom: -0.2rem;"> Service List</p>
                  <select id="service_list" class="onboarding_form_input form-control" style="display:none;">
                    <option value="" disabled selected>Select specific service</option>
                  </select>
                  
                  <p class="text-purple" style="margin-bottom:-0.2rem;">Payment Mode</p>
                  <select id="payment_mode" class="onboarding_form_input form-control">
                    <option value="" disabled selected>Select Mode of Payment</option>
                    <option value="cash" >Cash</option>
                    <option value="wallet">Wallet</option>
                  </select>
                  <p class="text-purple" style="margin-bottom:-0.2rem;" >Number of Service Units required</p>
                  <input type="number"  class="onboarding_form_input form-control mb-2" id="unit" oninput="myChangeFunction(this.value)">
                  <p class="text-purple" id="text_amount_total" style="display: none; margin-bottom: -0.3rem;">Total Amount</p>
                  <input type="text" class="onboarding_form_input form-control mb-2" id="specific_amount" style="display: none;" disabled>
                  <!-- <p class="text-purple">Total</p>
                  <input type="text" id="total"  class="onboarding_form_input form-control mb-1" placeholder="12000" disabled> -->
                  <input type="submit" value="Submit Request" class="form-control onboarding-button mt-3" id="request_submit_button" data-loading-text="Processing..." data-complete-text="Success!">
              </div>
                  
          </form>
      </div>
    </div>
  </div>
</div>

<!--  Job Details Modal (Client) -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0; background-color: #fff;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
        
        <div style="width:100%; text-align:left;" id="back_img"><i class="fas fa-chevron-left fa-2x" style="color:#464646;" data-dismiss="modal"></i></div>
        <h5 class="text-center" id="request-header"> Job Details</h5>
          <div class="text-danger server_message_error py-1 text-center" id="request_error" role="alert"></div> 
          <form class="onboarding_form"   method="POST" autocomplete="off" style="background-color: #fff;">
              {% csrf_token %}
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Type</p>
                  <input type="text" id="d_service_type"  class="onboarding_form_input form-control mb-2" disabled>
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Details</p>
                  <textarea id="d_details"  class="onboarding_form_input form-control mb-2" placeholder="I need the Service Provider to create a Dinning table" style="height:auto"></textarea>
                  <!-- <p class="text-purple">Possible tools Required</p>
                  <textarea id="d_tools"  class="onboarding_form_input form-control mb-1" placeholder="eg: Service Provider would require to use his professional tools such as Hammer, Saw etc" style="height:auto"></textarea> -->
                  <!-- <p class="text-purple">Budget</p>
                  <input type="text" id="d_budget"  class="onboarding_form_input form-control mb-1" placeholder="12000"> -->
                  <div class="rating_div mt-3" id="star_div" style="display: none;">
                    <span id="star_one" class="fa fa-star fa-2x" style="color:#d8d5ce;"></span>
                    <span id="star_two" class="fa fa-star fa-2x" style="color:#d8d5ce;"></span>
                    <span id="star_three" class="fa fa-star fa-2x" style="color:#d8d5ce;"></span>
                    <span id="star_four" class="fa fa-star fa-2x" style="color:#d8d5ce;"></span>
                    <span id="star_five" class="fa fa-star fa-2x" style="color:#d8d5ce;"></span>
                  </div>
                  <p id="note" class="mt-3 text-center"></p>
                  <input type="number" id="d_rating"  hidden >
                  <input type="text" id="d_job_id" hidden >
                  <input type="text" id="d_client_id" hidden >
                  <input type="text" id="d_sp_id" hidden >
                  <input type="submit"  class="form-control onboarding-button mt-3" id="request_details_button">
          </form>
      </div>
    </div>
  </div>
</div>

<!--  Job Details Modal (SP) -->
<div class="modal fade" id="detailspModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0; background-color: #fff;">
    <div class="modal-content" style="height:100vh; border-radius:0;">
      <div class="modal-body">
        
        <div style="width:100%; text-align:left;" id="back_img"><i class="fas fa-chevron-left fa-2x" style="color:#464646;" data-dismiss="modal"></i></div>
        <h5 class="text-center" id="request-header"> Job Details</h5>
          <div class="text-danger server_message_error py-1 text-center" id="request_error" role="alert"></div> 
          <form class="onboarding_form"   method="POST" autocomplete="off" style="background-color: #fff;">
              {% csrf_token %}
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Type</p>
                  <input type="text" id="s_service_type"  class="onboarding_form_input form-control mb-2" disabled>
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Service List/Details</p>
                  <textarea id="s_details"  class="onboarding_form_input form-control mb-2" style="height:auto"></textarea>
                  <input type="text" id="s_service_list"  class="onboarding_form_input form-control mb-2" disabled style="display:none;">
                 
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Number of Units</p>
                  <input type="text" id="s_unit"  class="onboarding_form_input form-control mb-2" disabled>
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Client Phone Number</p>
                  <input type="text" id="s_phone"  class="onboarding_form_input form-control mb-2" >
                  <!-- <p class="text-purple">Total Amount</p>
                  <input type="text" id="s_budget"  class="onboarding_form_input form-control mb-1" > -->
                  <p class="text-purple" style="margin-bottom: -0.2rem;">Location</p>
                  <input type="text" id="s_location"  class="onboarding_form_input form-control mb-2" >
                  <input type="text" id="s_job_id" hidden >
                  <p id="s_note" class="mt-3 text-center"></p>
                  <input type="text" id="s_client_id" hidden>
                  <input type="text" id="s_sp_id" hidden >
                  <input type="submit" value="Accept Job"  class="form-control onboarding-button mt-3" id="accept_button" style="display: none;">
                  
                  <input type="submit"   class="form-control onboarding-button mt-3" id="s_cash_button" style="display: none;">
                  <input type="submit" value="Reject Job"   class="form-control onboarding-button mt-3" id="reject_button" style="display: none; background-color: #C91B30;">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Notification Modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="notificationModal">
  <div class="modal-dialog modal-sm" style="margin:0">
    <div class="modal-content" style="height:100vh; padding: 0 10%;">
      <p style="margin-top:45vh">You have a new Job/Service Request</p>
      <button id="{{token}}" onClick="sp_job(this.id)" class="form-control onboarding-button" style="margin-top:5vh">
        go to job section
      </button>
    </div>
  </div>
</div>
<!-- <div  style="width:100%; height:100vh; background-color: #4B1378;"></div> -->
<!-- <div class="" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #fff;">
  <div class="modal-dialog" role="document" style="margin:0;">
    <a id="{{token}}" onClick="sp_job(this.id)">
      <i class="fas fa-briefcase fa-2x "></i>
      go to job section
    </a>
  </div>
</div> -->

<script>
  function getAmount(input1) {
    var input2 = document.getElementById('tt_amount');
    input2.value = input1.value;
    console.log(input2.value)
  }
  
  // paystack function
function payWithPaystack(){
    let email = document.getElementById("edit_email").value;
    let amount = document.getElementById("fund_amount").value;
    // let balance = document.getElementById("edit_balance").value;
    let phone = document.getElementById("edit_phone").value;
    if (amount == 0 || amount == ""){
      document.getElementById("amount_error").innerHTML = "Sorry, kindly enter a real amount!";
      setTimeout(function(){ 
        document.getElementById("amount_error").innerHTML = "";
      }, 2000);

    }
    else{
        var handler = PaystackPop.setup({
        key: 'pk_test_9edc655cfb67bd1aedb9dc0ee0d30d37f5c56756', //(todak test public)
        email: email,
        amount: amount * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you

        callback: function(response){
          console.log(response);
          document.getElementById("verification_div").style.display = "block";
        },
        onClose: function(){
            console.log('window closed');
        }
        });
        // handler.openIframe();
    };
    handler.openIframe();
    
  }
</script>
</body>
</html>