{% extends "onboarding/base.html" %}

{% load static %}

{% block body%}
<section class="onboarding-background">
    <div style="width:100%; text-align:left;" id="back_img"><i class="fas fa-chevron-left " style="color:#464646;" ></i></div>
    <img src="{% static 'img/vista.svg' %}" class="img-fluid vista-logo">
    <p class="splashtext-bottom mt-2 mb-5" >Sorry! let’s help you retrive it</p>
    <p class="splashtext-bottom mt-2 mb-3 mt-5" >Enter your registered Email/Phone</p>
    <!-- verify form -->
    <div class="text-primary server_message_success" id="server_message_success" role="alert"></div>
    <div class="text-danger server_message_error" id="server_message_error" role="alert"></div>
    <div>
        <form class="onboarding_form mt-2" action="#" id="sign_up_form" method="POST" autocomplete="off">
            
            {% csrf_token %}
                <input type="text" id="forgot_email"   class="onboarding_form_input form-control mb-3" placeholder=" john@doe.com">
                <input type="button" value="Submit" class="form-control onboarding-button mt-5" id="forgot_submit">
            </div>

            <p class="onboarding_footer mt-2 mb-1 text-center">Already have an account? <span class="span-login"><a href="{% url 'signin' %}"> Sign in</span></a></p>
        </form>
    </div>
</section>
{% endblock %}