{% extends "onboarding/base.html" %}

{% load static %}

{% block body%}
<section class="onboarding-background">
    <div style="width:100%; text-align:left;" id="back_img"><i class="fas fa-chevron-left " style="color:#464646;" ></i></div>
    <img src="{% static 'img/vista_icon11.svg' %}" class="img-fluid vista-logo">
    <p class="splashtext-bottom mt-2 mb-3 mt-5" >Enter your new Password</p>
    <!-- verify form -->
    <div class="text-primary server_message_success" id="server_message_success" role="alert"></div>
    <div class="text-danger server_message_error" id="server_message_error" role="alert"></div>
    <div>
        <form class="onboarding_form mt-2" action="#" id="sign_up_form" method="POST" autocomplete="off"> 
            {% csrf_token %}
            <div class="form-group">
                <div style="display: flex; justify-content: left;">
                    <input type="password" 
                class="onboarding_form_input form-control" 
                name="password" 
                id="password"
                placeholder="New Password"
                required
                />
                <i class="fas fa-eye"  style="margin-left:-13%;margin-top: 4%; color: #ccc;" onclick="showPassword()"></i>
                </div>
            </div>
            <input type="password" id="confirm_password"   class="onboarding_form_input form-control" placeholder="Confirm New Password">
            <input type="text" value="{{id}}" hidden id="reset_user_id">
            <input type="button" value="Submit" class="form-control onboarding-button mt-5" id="change_password_submit">
            <p class="onboarding_footer mt-2 mb-1 text-center">Already have an account? <span class="span-login"><a href="{% url 'signin' %}"> Sign in</span></a></p>
        </form>
    </div>
</section>
{% endblock %}