{% extends "onboarding/base.html" %}
{% block body%}
{% load static %}
<section class="background">
    <div class="logo-div">
        <img src="{% static 'img/vista_icon11.svg' %}" class="img-fluid vista-logo">
    </div>

    <div class="pl-3 pr-3 mt-1 bottom-div">
        <a href="{% url 'signup' %}" class="form-control vista-button">Get Started</a>
        <p class="p-splash">Already have an account? <a href="{% url 'signin' %}"><span class="span-login">Sign in</span></a></p>  
    </div>
</section>
{% endblock %}