{% extends "onboarding/base.html" %}

{% load static %}

{% block body%}
<section class="onboarding-background">
    <div id="home_address">
        <i class="fas fa-street-view fa-2x"></i>
        <p id="p_id">{{data.user_details.address}}, {{data.user_details.state}}</p>
        <!-- <p id="p_id">4B, Ajelade street, Akoso, Ogun State</p> -->
        
    </div>
    <p style="color: #7D38B5; text-align: left; margin-top:0.5rem;">Available Services</p>
    <div class="work_div">
        <div class="cardy" id="Carpentry" style="background-color: #2BB2AD;" onClick="request_form(this.id)">
            <p style="margin:0;">Carpentry</p>
            <!-- <i class="fas fa-eraser fa-2xa"></i> -->
            <img src="{% static 'img/carpentry.svg' %}" class="img-fluid">
        </div>
        <div class="cardy" id="Market Runner" style="background-color: #F6AC56;" onClick="request_form(this.id)">
            <p style="margin:0;">Market Runner</p>
            <!-- <i class="fas fa-plug fa-2xa"></i> -->
            <img src="{% static 'img/market.svg' %}" class="img-fluid">
        </div>
        <div class="cardy" id="Mechanic" style="background-color: #5086ED;" onClick="request_form(this.id)">
            <p style="margin:0;">Mechanic</p>
            <!-- <i class="fas fa-camera fa-2xa"></i> -->
            <img src="{% static 'img/mechanic.svg' %}" class="img-fluid">
        </div>
        <!-- <div class="cardy" id="Nail_Technician" style="background-color: #6F7BF0;" onClick="request_form(this.id)">
            <p>Nail Technician</p>
            <i class="fas fa-pause fa-2xa" style="margin-top: -10px;"></i>
        </div> -->
        <div class="cardy" id="Barbing" style="background-color: #EE776D;" onClick="request_form(this.id)">
            <p style="margin:0;">Barbing</p>
            <!-- <i class="fas fa-wrench fa-2xa"></i> -->
            <img src="{% static 'img/barber.svg' %}" class="img-fluid">
        </div>
        <!-- <div class="cardy" id="Stylist" style="background-color: #7DC3C9;" onClick="request_form(this.id)">
            <p>Hair Stylist</p>
            <i class="fas fa-cubes fa-2xa"></i>
        </div> -->

        <div class="cardy" id="Makeup" style="background-color: #0e1fbd;" onClick="request_form(this.id)">
            <p style="margin:0;">Makeup</p>
            <!-- <i class="fas fa-pills fa-2xa"></i> -->
            <img src="{% static 'img/make_up.svg' %}" class="img-fluid">
        </div>
        <div class="cardy" id="Cleaners" style="background-color: #d2ee6d;" onClick="request_form(this.id)">
            <p style="margin:0;">Cleaners</p>
            <!-- <i class="fas fa-people-carry fa-2xa"></i> -->
            <img src="{% static 'img/cleaner.svg' %}" class="img-fluid">
        </div>
        <div class="cardy" id="AC_Technician" style="background-color: #f03190;" onClick="request_form(this.id)">
            <p style="margin:0;">AC Technician</p>
            <!-- <i class="fas fa-baby-carriage fa-2xa" style="margin-top: -10px;"></i> -->
            <img src="{% static 'img/ac_technician.svg' %}" class="img-fluid">
        </div>

    </div>
    
</section>
<footer class="footer">
    <a>
        <i class="fas fa-th-large fa-2x  active-icon"></i>
        <!-- <p style="margin-top:-60px; color:#4B1378;">Home</p> -->
    </a>
    <a id={{token}} onClick="client_profile(this.id)">
        <i class="fas fa-user fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Profile</p> -->
    </a>
    <a id={{token}} onClick="client_wallet(this.id)">
        <i class="fas fa-wallet fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Wallet</p> -->
    </a>
    <a id={{token}} onClick="client_job(this.id)">
        <i class="fas fa-briefcase fa-2x "></i>
        <span class="badge badge-danger notif" style="display: none;" id="notiff">1</span>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Jobs</p> -->
    </a>
</footer>


{% endblock %}