{% extends "onboarding/base.html" %}
{% load humanize %}
{% load static %}

{% block body%}
<section class="onboarding-background">
    <div id="sp_wallet_div">
        <p id="sp_balance">Balance</p>
        <div id="sp_wallet_inner">
            <h3 id="naira">NGN</h3>
            <h1 id="amount">{{data.user_details.balance|floatformat:2|intcomma}}</h1>
        </div>
    </div>
    <div id="flexy_row">
        <div id="circle_red" data-toggle="modal" data-target="#withdrawModal"><i class="fas fa-arrow-down fa-2x"></i></div>
        <div id="circle_green" data-toggle="modal" data-target="#fundModal"><i class="fas fa-arrow-up fa-2x"></i></div>
    </div>
    <p class="text-left mt-3">Transactions</p>
    <div id="transaction_div">
        <div class="flexy_row_between">
            <div>
                <p class="trans_p text-left">Job Payment</p> 
                <p class="trans_p2 text-left down">Card</p>
            </div>
            <div> 
                <p class="trans_p text-right">-12,333.45</p>
                <p class="trans_p2 text-right down">20/03/2021</p>
            </div>
        </div>
    </div>

</section>
<footer class="footer">
    <a id={{token}} onClick="client_home(this.id)">
        <i class="fas fa-th-large fa-2x  "></i>
        <!-- <p style="margin-top:-60px; color:#4B1378;">Home</p> -->
    </a>
    <a id={{token}} onClick="client_profile(this.id)">
        <i class="fas fa-user fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Profile</p> -->
    </a>
    <a>
        <i class="fas fa-wallet fa-2x active-icon"></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Wallet</p> -->
    </a>
    <a href="{% url 'signin' %}">
        <i class="fas fa-briefcase fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Jobs</p> -->
    </a>
</footer>
{% endblock %}