{% extends "onboarding/base.html" %}
{% load humanize %}
{% load static %}

{% block body%}
<section class="onboarding-background">
    <p class="sp_top_p text-left">Welcome! {{data.user_details.firstname}}</p>
    {% if data.user_details.isActivated == True %}
    
    <div id="sp_top_div">
        <i class="fas fa-building fa-3xa mt-2"></i>
        <div>
            <h2>34</h2>
            <p>Jobs Done</p>
        </div>
    </div>
    <div id="sp_wallet_div">
        <p id="sp_balance">Balance</p>
        <div id="sp_wallet_inner">
            <h3 id="naira">NGN</h3>
            <h1 id="amount">{{data.user_details.balance|floatformat:2|intcomma}}</h1>
        </div>
    </div>
    <div id="flexy_row">
        <div id="circle_red" data-toggle="modal" data-target="#withdrawModal"><i class="fas fa-arrow-down fa-2x"></i></div>
        <div id="circle_green" data-toggle="modal" data-target="#fundModal"><i class="fas fa-arrow-up fa-2x"></i></div>
    </div>

    <p class="text-left mt-3">Transactions</p>
    <div id="transaction_sp_div">
        {% if data.transaction %}
            {% for t in data.transaction %}
                {% if t.transaction_type == "Credit" %}
                <div class="flexy_row_between">
                    <div style="width:100%;">
                        <p class="trans_p text-left text-success">{{t.transaction_message}}</p> 
                        <p class="trans_p2 text-left down">{{t.transaction_type}}</p>
                    </div>
                    <div style="width:50%;"> 
                        <p class="trans_p text-right text-success">{{t.amount|floatformat:2|intcomma}}</p>
                        <p class="trans_p2 text-right down">{{t.date_added}}</p>
                    </div>
                </div>
                {% else %}
                <div class="flexy_row_between">
                    <div style="width:100%;">
                        <p class="trans_p text-left text-danger">{{t.transaction_message}}</p> 
                        <p class="trans_p2 text-left down">{{t.transaction_type}}</p>
                    </div>
                    <div style="width:50%;"> 
                        <p class="trans_p text-right text-danger">-{{t.amount|floatformat:2|intcomma}}</p>
                        <p class="trans_p2 text-right down">{{t.date_added}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class='text-center text-purple' style="margin-top:50px;">There is no Transaction yet!</div>
        {% endif %}
    </div>
    {% else %}
    <div class='text-center' style="margin-top:35vh; color:red">Your account has not been activated. Kindly upload your documents at the profile page to activate your account. Thanks</div>
    {% endif %}
</section>
{% if data.user_details.isActivated == True %}
<footer class="footer">
    <a id="{{token}}" onClick="sp_job(this.id)">
        <i class="fas fa-briefcase fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Jobs</p> -->
    </a>
    <a>
        <i class="fas fa-th-large fa-2x  active-icon"></i>
        <!-- <p style="margin-top:-60px; color:#4B1378;">Home</p> -->
    </a>
    <a id="{{token}}" onClick="sp_profile(this.id)">
        <i class="fas fa-user fa-2x "></i>
        <p style="margin-top:-60px; color:#4B137830;">Profile</p>
    </a>
</footer>
{% else %}
<footer class="footer">
    <a id="{{token}}" onClick="sp_profile(this.id)">
        <i class="fas fa-user fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Profile</p> -->
    </a>
</footer>
    
{% endif %}

{% endblock %}