{% extends "onboarding/base.html" %}
{% load humanize %}
{% load static %}

{% block body%}
<section class="job-background">
    <h4 class="mt-3" style="color:#4B1378;">My Jobs</h4> 
    <div id="job-div">
        <div id="declined-job" class="each_jobs">
            <p class="job_p">Capentry</p>
            <p class="job_p" >Declined</p>
        </div>
        <div id="ongoing-job" class="each_jobs">
            <p class="job_p">Capentry</p>
            <p class="job_p">Ongoing</p>
        </div>
        <div id="completed-job" class="each_jobs">
            <p class="job_p">Capentry</p>
            <p class="job_p">Completed</p>
        </div>
    </div> 
</section>

<footer class="footer">
    <a>
        <i class="fas fa-briefcase fa-2x active-icon"></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Jobs</p> -->
    </a>
    <a id="{{token}}" onClick="sp_home(this.id)">
        <i class="fas fa-th-large fa-2x  "></i>
        <!-- <p style="margin-top:-60px; color:#4B1378;">Home</p> -->
    </a>
    <a id="{{token}}" onClick="sp_profile(this.id)">
        <i class="fas fa-user fa-2x"></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Profile</p> -->
    </a>
</footer>

{% endblock %}