{% extends "onboarding/base.html" %}
{% load humanize %}
{% load static %}

{% block body%}
<div class="profile_top_div">
    <h4>{{data.user_details.firstname}} {{data.user_details.lastname}}</h4>
    <h6 class="text-warning">()</h6>
</div>
<div class="profile_circle2">
    {% if data.verification_data.passport == "1" or data.verification_data.passport is none %}
    <i class="fas fa-user fa-3xap"></i>
    {% else %}
       <img src="{{data.verification_data.passport}}" class="rounded-circle" width="100" height="100"/>
      {% endif %}
</div>
<section class="profile-background">
    <div class="flexy_row_between">
        <div class="flexi">
            <i class="fas fa-phone fa-3xar mr-5"></i>
            <p>{{data.user_details.phonenumber}}</p>
        </div>
        <i class="fas fa-edit fa-3xar" data-toggle="modal" data-target="#bioModal"></i>
    </div>
    <div class="flexi">
        <i class="fas fa-briefcase fa-3xar mr-5"></i>
        <p style="text-align: left; font-size: 0.75rem;">{{data.user_details.address}}, {{data.user_details.state}}</p>
    </div>
    <h5 class="text-left mt-3">Payment Details</h5>
    <div class="flexi">
        <i class="fas fa-credit-card fa-3xar mr-5"></i>
            {% if data.user_details.accountno %}
            <p class="purple_p" data-toggle="modal" data-target="#accountModal">{{data.user_details.accountno}}</p>
                {% else %}
            <p class="purple_p" data-toggle="modal" data-target="#accountModal">Add Account Details</p> 
            {% endif %}
    </div>
    <h5 class="text-left mt-3">Gallery</h5>
    <div class="flexi">    
        <i class="fas fa-upload fa-3xar mr-5" ></i>
        <p class="purple_p" data-toggle="modal" data-target="#galleryModal">Upload to Gallery</p> 
    </div>
    <h5 class="text-left mt-3">Verification</h5>
    <div class="flexi">    
        <i class="fas fa-upload fa-3xar mr-5" ></i>
        {% if data.user_details.isVerified == True %}
            <p class="purple_p" style="text-decoration: none;" >Data Verified</p> 
        {% else %}
            <p class="purple_p" data-toggle="modal" data-target="#verificationModal">Upload Documents</p>  
        {% endif %}
    </div>
    <h5 class="text-left mt-3">Security</h5>
    <div class="flexi">
        <i class="fas fa-key fa-3xar mr-5"></i>
        <p class="purple_p" data-toggle="modal" data-target="#passwordModal">Change Password</p>
    </div>
    <div class="flexi">
        <i class="fas fa-power-off fa-3xar mr-5"></i>
        <p class="purple_p" onClick="signout()">Signout</p>
    </div>

    <!-- <h5 class="text-left mt-3">Verification</h5>
    <div class="flexi">
        <i class="fas fa-check-circle fa-3xar mr-5 text-danger"></i>
        <p class="text-danger">Yet to be verified</p>
    </div> -->
</section>
{% if data.user_details.isActivated == True %}
<footer class="footer">
    <a id="{{token}}" onClick="sp_job(this.id)">
        <i class="fas fa-briefcase fa-2x "></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Jobs</p> -->
    </a>
    <a id="{{token}}" onClick="sp_home(this.id)">
        <i class="fas fa-th-large fa-2x  "></i>
        <!-- <p style="margin-top:-60px; color:#4B1378;">Home</p> -->
    </a>
    <a >
        <i class="fas fa-user fa-2x active-icon"></i>
        <!-- <p style="margin-top:-60px; color:#4B137830;">Profile</p> -->
    </a>
</footer>
{% else %}
<footer class="footer">
    <a id="{{token}}" onClick="sp_home(this.id)">
        <i class="fas fa-th-large fa-2x  "></i>
        <p style="margin-top:-60px; color:#4B1378;">Home</p>
    </a>
</footer>
    
{% endif %}
{% endblock %}